*.DS_Store
*.class
.lastbuild.cks

ocelot_logs/
jni_(copy)/

# idea project files
ocelot.iml
.idea/*

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
# *.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
/bin/

.classpath
experiments/
output/
# jni files
jni/
!jni/pointers.h
!jni/EN_CBridge.c
!jni/ocelot.c
!jni/CBridge.c
!jni/ocelot.h
!jni/nativelists.h
!jni/nativelists.c
!jni/lists.h
!jni/lists.c
!jni/CBridge.h

libTest.so
libTest.jnilib

.settings/
.project

#output files
outputs/

/nbproject/private/
/build/

# netbeans file
build.xml
manifest.mf
nbproject/*

# class for random tries
src/main/java/it/unisa/ocelot/runnable/McCabe.java

*.csv

#result_output
results/
RESULTS/
testobject/
/target/

# epc files for pathEval 
*.epc
*.efl
*.kl
fitnessValues.txt
testObjectives.to
unitLevelComponents.txt

config.properties
